.content {
  margin-top: 30px;
}
li {
  margin-bottom: 20px;
  font-size: 20px;
  color: white;
}
.heading {
  margin-top: 30px;
}
.btn {
  margin-top: 20px;
}
.hm {
  text-align: center;
  margin-top: 150px;
}
.top {
  margin-top: 150px;
}
nav {
  padding: 15px;
  font-size: 20px;
}
.navv {
  margin-top: 10px;
}
.free {
  font-size: 20px;
}
.btn-warning {
  margin-top: -6px;
  margin-left: 10px;
}

/*footer css*/
.footer-area-top {
  background: rgb(27, 24, 24);
}
.footer-area-bottom {
  background: black;
}
.social-link li {
  display: inline;
  margin-left: 7px;
}

.footer-area-top .footer-box ul.useful-link li a {
  font-size: 15px;
  text-decoration: none;
}

b {
  color: white;
  font-size: 25px;
}
.footer-box {
  margin: 25px;
}
/*categories*/
.list-group li {
  font-size: 15px;
}
.type {
  border: none;
}

/*content*/

.card-img-top {
  width: 130px;
}
.cards {
  background: whitesmoke;
  height: 220px;
}
.card-text {
  color: #139e81;
}
.card-title:hover {
  color: #139e81;
}
.panel-body {
  background: #ffffff;
}

/*login*/

.login {
  margin-top: 170px;
}

/*signup*/

.signup {
  margin-top: 170px;
}

/*img uploaad*/
.upl {
  width: 150px;
}
.crd:hover {
  color: #337ab7;
}
.pnl {
  color: white;
  background-color: #337ab7;
}
.panell {
  border: 1px solid rgb(221, 209, 209);
}
.buy {
  margin-bottom: 20px;
}
